<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title != 'undefined' ? title : 'No Title' %> | Nodejs Start</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home Page</a>
        <a href="/contact">Contact</a>
        <% if(session.username)  {%>
            <a href="/auth/logout">Logout</a>
        <% } else { %>
            <a href="/auth/login">Login</a>
            <a href="/auth/register">Register</a>
        <% } %>
    </nav>
    <% if(session.username)  {%>
        <div class="alert-info">
            <h3>Welcome, <%= session.username %></h3>
        </div>
    <% } %>
    <%- body %>



    <hr>
    <% var randomNumber = Math.floor(Math.random() * 100); %>
    <h3><%= randomNumber %> + 1 = <%= plusOne(randomNumber) %></h3>
    
</body>
</html>